<div class="border border-dark rounded-3 m-3">
<div class="m-3">
<h1>Coach chat</h1>

<div class="border border-dark rounded-3 mb-3 col-3">
<div class="m-3">
<p><%=params[:kkk]%></p>
<p>-You</p>

<p>------------------</p>

<p><%= @answer  %></p>
<p>-Coach Nico</p>
</div>
</div>

<div class=" btn btn-secondary">
<%= link_to"Ask another question", ask_path %>
</div>
</div>
</div>
