<div class="border border-dark rounded-3 m-3">
<div class="m-3">
<h1> Nicolas yo yo yo </h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="kkk" value="<%=params[:kkk]%>" placeholder="Ask me something here">
  <input type="submit" value="Ask!" class="btn btn-primary m-3">
</form>

</div>
</div>
